
nav {
    padding: 10px;
}

nav .appContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomShadow {
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 5px grey;
}

.logo {
    display: flex;
    flex-direction: column;
}